{% extends 'base.html' %} 
{% block title %}Simple Mortgage{% endblock title %}
{% load static %}
{% block content %}
<div class="container mt-5">
	<div class="px-4 py-5 my-5 text-center">
		<img
			class="d-block mx-auto mb-4"
			src="{% static 'assets/simple-mortgage.png' %}"
			alt=""

		/>
		<h1 class="display-5 fw-bold text-body-emphasis">Simple Mortgage</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				Simplify your mortgage journey and get fast access to trusted lenders. Start today and find the best options for your home financing needs—quickly and easily.
			</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<button type="button" class="btn btn-success btn-lg px-4 gap-3" onclick="location.href='{% if user.is_authenticated %}{% url 'mortgages:offers' %}{% else %}{% url 'register' %}{% endif %}'">
					View Offers
				</button>
				<button type="button" class="btn btn-outline-success btn-lg px-4">
					FAQ
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}